.title {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	align-items: center;
	font-family: $main-font;
	margin-bottom: 32px;
	padding: auto 20px;
	&__logo {
		color: $blue;
		text-align: center;
		font-size: 4.5rem;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 104%;
		opacity: 0.39;
	}
	&__txt {
		color: rgba(0, 0, 0, 0.8);
		max-width: 423px;
		text-align: center;
		font-size: 1.125rem;
		line-height: 150%;
	}
}

@media (max-width: 952px) {
	.title {
		row-gap: 20px;
		margin-bottom: 40px;
		&__logo {
			font-size: 2.25rem;
		}
		&__txt {
			max-width: 286px;
			font-size: 1rem;
		}
	}
}

@media (max-width: 360px) {
	.title {
		row-gap: 16px;
	}
}
