@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap");
.header {
  padding-top: 60px;
}

.header__logo {
  display: block;
  width: 190px;
  height: 60px;
  margin: 0 auto;
  background: url("../icons/logo.svg") 0 0/contain no-repeat;
}

@media (max-width: 768px) {
  .header {
    padding-top: 100px;
  }
}

@media (max-width: 360px) {
  .header {
    padding-top: 80px;
  }
  .header__logo {
    width: 128px;
    height: 40px;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 32px;
  padding: auto 20px;
}

.title__logo {
  color: #162c4e;
  text-align: center;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 104%;
  opacity: 0.39;
}

.title__txt {
  color: rgba(0, 0, 0, 0.8);
  max-width: 423px;
  text-align: center;
  font-size: 1.125rem;
  line-height: 150%;
}

@media (max-width: 952px) {
  .title {
    row-gap: 20px;
    margin-bottom: 40px;
  }
  .title__logo {
    font-size: 2.25rem;
  }
  .title__txt {
    max-width: 286px;
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .title {
    row-gap: 16px;
  }
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 72px;
}

.timer-dots {
  font-family: "Poppins", sans-serif;
  color: #162c4e;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 100%;
}

.timer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer-item__numbers {
  font-family: "Poppins", sans-serif;
  color: #162c4e;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 100%;
}

.timer-item__values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 132px;
  height: 54px;
  background: url("../icons/bg-timer.svg") 0 0/contain no-repeat;
  font-family: "Poppins", sans-serif;
  line-height: 100%;
  font-weight: 400;
  color: #ffffff;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .timer {
    margin-bottom: 40px;
  }
  .timer-dots {
    font-size: 2.25rem;
  }
  .timer-item {
    row-gap: 6px;
  }
  .timer-item__numbers {
    font-size: 2.25rem;
  }
  .timer-item__values {
    width: 64px;
    height: 40px;
    background-size: 100% 100%;
    font-size: 0.75rem;
  }
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  font-style: normal;
}

.link__title {
  color: rgba(0, 0, 0, 0.8);
}

.link__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 28px;
  padding-right: 20px;
  width: 240px;
  height: 60px;
  border-radius: 40px;
  background-color: #162c4e;
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .link {
    row-gap: 15px;
  }
  .link__title {
    font-size: 1rem;
  }
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 192px;
  width: 100%;
  background-color: #162c4e;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer-input {
  display: block;
  height: 59px;
  width: 440px;
  padding-left: 27px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  font-family: "Roboto";
  line-height: 150%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.125rem;
}

.footer-input.error {
  border: 3px solid #df2224;
}

.footer-btn {
  position: absolute;
  right: 8px;
  border: none;
  width: 43px;
  height: 43px;
  border-radius: 100%;
  background-color: #df2224;
  background-image: url("../icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.footer-btn-events {
  position: absolute;
  right: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  border: none;
  background: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.footer-btn-events:hover {
  color: #df2224;
}

.footer-btn-events img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footer-btn-events.open img {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

@media (max-width: 1030px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }
  .footer-btn-events {
    position: static;
  }
}

@media (max-width: 768px) {
  .footer-input {
    height: 41px;
    max-width: 360px;
    padding-left: 20px;
    font-size: 0.875rem;
  }
  .footer-btn {
    right: 4px;
    height: 33px;
    width: 33px;
  }
  .footer-btn-events {
    font-size: 16px;
    -webkit-column-gap: 3px;
            column-gap: 3px;
  }
}

@media (max-width: 400px) {
  .footer-input {
    max-width: 280px;
  }
}

@media (max-width: 360px) {
  .footer {
    height: 141px;
  }
}

.popup {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(22, 44, 78, 0.6);
}

.popup-body {
  position: relative;
  border: 1px solid rgba(19, 89, 120, 0.07);
  border-radius: 2px;
  background: #ffffff;
  width: 320px;
  height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 29px;
  font-family: "Poppins", sans-serif;
}

.popup-body__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 104%;
  text-transform: uppercase;
  color: #162c4e;
}

.popup-body__massage {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.popup-body__btn {
  width: 200px;
  height: 60px;
  border-radius: 40px;
  border: none;
  background-color: #162c4e;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  cursor: pointer;
}

.popup-body__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../icons/btn-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 56px;
  height: 56px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.events {
  padding: 110px 108px 100px 108px;
  padding-bottom: 100px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-accordion {
  width: 1770px;
  margin: 0 auto;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 104%;
  color: #162c4e;
  opacity: 0.39;
}

.accordion {
  width: 100%;
  height: 682px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
          column-gap: 4px;
  border-bottom: 2px solid #df2224;
}

.acc-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1px;
          column-gap: 1px;
  overflow: hidden;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.acc-item__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 40px;
  width: 85px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  line-height: 100%;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 44, 78, 0)), to(#162c4e));
  background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162c4e 100%);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.acc-item__header img {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -99;
}

.body-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(18, 18, 18, 0.8);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 36%;
  height: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  padding-bottom: 48px;
  padding-left: 42px;
}

.body-info__title {
  color: rgba(255, 255, 255, 0.04);
  font-weight: 600;
  font-size: 380px;
  line-height: 100%;
  letter-spacing: -0.03em;
  position: absolute;
  left: -143px;
}

.body-info__description {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-info__description .body-info__description-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 12px;
}

.body-info__description .body-info__description-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 25px;
}

.body-info__description .body-info__description-btn {
  width: 256px;
  height: 62px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-left: 8px solid #ffffff;
  background: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.acc-item.hovered .acc-item__header {
  background: #162c4e;
}

.acc-item__header-theme {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.acc-item__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.acc-item__body .acc-item__body-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("../img/events/img_1.png");
  background-size: 100% 100%;
  z-index: -99;
}

@media (max-width: 1760px) {
  .events {
    padding-left: 20px;
    padding-right: 20px;
  }
  .wrapper-accordion {
    width: 100%;
  }
  .body-info__title {
    font-size: 200px;
    left: -50px;
  }
}

@media (max-width: 1600px) {
  .body-info {
    padding-left: 10px;
  }
  .body-info .body-info__description-btn {
    width: 100%;
    font-size: 16px;
  }
}

@media (max-width: 1325px) {
  .accordion {
    height: 400px;
  }
  .acc-item__header {
    row-gap: 10px;
    font-size: 18px;
  }
  .body-info__title {
    font-size: 100px;
    left: -25px;
  }
  .body-info__description .body-info__description-name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .body-info__description .body-info__description-date {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .body-info__description .body-info__description-btn {
    border-left: 4px solid #ffffff;
    font-size: 12px;
    height: 50px;
    width: 150px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  background-image: url("../icons/bg-left.svg"), url("../icons/bg-right.svg");
  background-repeat: no-repeat;
  background-position: left top, right top;
  background-size: 453px 418px, 232px 288px;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  padding-top: 93px;
  padding-bottom: 76px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 769px) and (max-width: 1920px) {
  body {
    background-size: 23vw 418px, 232px 288px;
  }
}

@media (max-width: 768px) {
  body {
    background-size: 246px 208px, 250px 240px;
  }
  .main {
    padding-top: 166px;
    padding-bottom: 169px;
  }
}

@media (max-width: 455px) {
  body {
    background-size: 174px 142px, 153px 148px;
  }
  .main {
    padding-top: 66px;
    padding-bottom: 86px;
  }
}
/*# sourceMappingURL=style.css.map */